//- Modal de connexion            
div(class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") Connexion
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;        
      div(class="modal-body")
        form(action="/login" method="post")
            h2(class="text-center") Connectez-vous
            div(class="form-group")
                input(type="text" name="username" class="form-control" placeholder="Nom d'utilisateur" required="required")             
            div(class="form-group")
                input(type="password" password="password" class="form-control" placeholder="Mot de passe" required="required")            
            div(class="form-group")
                button(type="submit" class="btn btn-primary btn-block") Log in            

//- Modal de confirmation de suppression
div(class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                h4 Suppression de l'annonce
            div(class="modal-body")
                p Voulez vous vraiment supprimer l'annonce 
            div(class="modal-footer")
                button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
                a(class="btn btn-danger btn-ok") Delete
