div(class='nav')
        
    div
        if user == undefined
            a(class='button login-btn' href='/login') Connexion
            a(class='button outline signin-btn' href='/register') Création de compte
        else 
            a(href='/annonces') Annonces
            a(href='/logout') Logout