extends ../layout

block content
    div(class='container')
        div(class='result')
            h3(class='nb_result')
                a(href="/annonces", class="text-title")
                    i(class='fa fa-arrow-left') Détail de l'annonce            
        
        div(class='row')        
            div(class='container-fluid')       
                div(class="card" style="width: 18rem;")
                img(class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/suburban-house-royalty-free-image-1584972559.jpg?crop=1.00xw:0.752xh;0,0.120xh&resize=1200:*" alt="Card image cap")
                div(class="card-body")
                    h5(class="card-title") #{annonce.title}
                    p(class="card-text") #{annonce.description}
                    a(href="#" class="btn btn-primary") #{annonce.price}

        